<h1 class="text-center text-success">Booking confirmed</h1>
<h3 class="text-center">Your book has successfully booked</h3>

<a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Return to homepage</a>