<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Views/Home/Index.css"/>
    <title>Document</title>

    <style>
        body {
            background-image: url("../../img/background.jpg");
        }

        #title {
            margin-top: 100px;
        }

        #subtitle {
            color:#f00;
        }
    </style>
</head>
<body>
    <h1 class="text-center" id="title">Welcome to the library</h1>
    <h3 class="text-center" id="subtitle">Book and manage your loans</h3>
</body>
</html>