* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../../images/Home.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    border-radius: 20px;
    width: 400px;
    background-color: #a16a49;
    max-width: 500px;
}

#title {
    color: #753805;
    padding-top: 10px;
    padding-bottom: 10px
}

#subtitle {
    color: #5e2d04;
    padding-bottom: 10px
}