<h1 class="text-center text-success">Loan confirmed</h1>
<h3 class="text-center">You have successfully loaned this book</h3>

<p><span class="text-danger">Remind: </span>you have 90 days for reading your book. Then you will receive a warning letter</p>