* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://videos.openai.com/vg-assets/assets%2Ftask_01jzbkx7hrfa0twdnk1n0d5p0q%2F1751662966_img_1.webp?st=2025-07-04T19%3A39%3A26Z&se=2025-07-10T20%3A39%3A26Z&sks=b&skt=2025-07-04T19%3A39%3A26Z&ske=2025-07-10T20%3A39%3A26Z&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skoid=3d249c53-07fa-4ba4-9b65-0bf8eb4ea46a&skv=2019-02-02&sv=2018-11-09&sr=b&sp=r&spr=https%2Chttp&sig=5EjLz4UXK2oVHmrhYVW9kipUDZeZ8%2FfJN%2FtUb5%2F%2FmJs%3D&az=oaivgprodscus");
    user-select: none;
}

header {
    border-radius: 20px;
    margin: 10px auto;
    width: 400px;
    background-color: #a16a49
}

#title {
    color: #753805;
    padding-top: 10px;
    padding-bottom: 10px
}

#subtitle {
    color: #5e2d04;
    padding-bottom: 10px
}